.navbar-nav {
  flex-direction: row;
  justify-content: flex-start; /* Align items to the left */
  width: 100%; /* Full width to make sure it spans the container */
}

.navbar-nav .nav-item,
.navbar-brand {
  margin-right: 70px;
  font-size: large;
  font-weight: bold;
}
.navbar-nav .nav-item:hover {
  text-decoration: underline;
}
.filterbar {
  padding-right: 30px !important;
}

.vertical-line {
  width: 1px;
  height: 30px;
  background-color: white;
  border: none;
  margin-left: 20px;
  margin-right: 20px;
}

/* Dashboard container */
.dashboard-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Summary cards grid */
.summary-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 cards */
  gap: 20px;
}

/* Individual card styling */
.card {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

hr {
  border: none;
  border-top: 1px solid #000;
  margin: 20px 0;
}

.customerNav {
  grid-column-start: auto;
}
